* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html,
#root,
canvas {
  width: 100%;
  height: 100%;
}

#root {
  background-color: #f9c5d1;
  background-image: linear-gradient(315deg, #f9c5d1 25%, #9795ef 100%);
}

/******************* Alert **********************/
.alert {
  position: absolute;
  width: 300px;
  height: 100px;
  background-color: #d4edda;
  color: #185927;
  border-radius: 0 22px 22px 0;
  margin: 10px;
  font-size: 18px;
  transform: translateX(-110%);
  transition: transform 0.5s cubic-bezier(0.28, 0.08, 0, 1.72);
}

.alert_show {
  transform: translateX(0);
}

.alert_hide {
  transform: translateX(-110%);
}

.head {
  border-bottom: 1px solid black;
  padding: 8px 16px;
}

.main {
  padding: 16px;
}

/******************* Tuturial **********************/
.tuturial {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  z-index: 10;
  transition: opacity 0.6s 1.3s linear;
  animation: enter 0.6s linear;
}

svg {
  position: absolute;
}

svg:first-child {
  top: 50%;
  left: 31%;
}

svg:nth-child(2) {
  top: 25%;
  left: 20%;
}

text {
  font-size: 22px;
}

@keyframes enter {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
